In [3]:
import pandas as pd
import numpy as np

  Month-Дата преступления (дата)
  total crimes -общее кол-во преступлений(вещественный)
  Serious -серьёзных престплений(вещественный)
  Huge_damage-сильный урон после преступления(вещественный)
  Ecological-экологичекие преступления(вещественный)
  Terrorism-террористические преступления(вещественный)
  Extremism-екстремизм(вещественный)
  Murder-мародёрство(вещественный)
  Harm_to_health-вред здоровью(вещественный)
  Rape-насилия(вещественный)
  Theft-кражи(вещественный)
  Vehicle_theft-кражи транспорта(вещественный)
  Fraud_scam-мошенничество(вещественный)
  Hooligan-хулиганство(вещественный)
  Drugs-с участием наркотиков(вещественный)
  Weapons-с применением оружия(вещественный)

In [5]:
# 2.1 вывод таблицы
df = pd.read_csv("crime.csv")
df

,month,Total_crimes,Serious,Huge_damage,Ecological,Terrorism,Extremism,Murder,Harm_to_health,Rape,Theft,Vehicle_theft,Fraud_scam,Hooligan,Drugs,Weapons
0,01.01.2003,214587.0,88203.0,20162.0,1216.0,630.0,13.0,2749.0,5559.0,574.0,81014.0,3549.0,7731.0,10560.0,16006.0,4661.0
1,01.02.2003,221928.0,88863.0,20889.0,1701.0,678.0,5.0,2444.0,4732.0,515.0,95970.0,3697.0,7607.0,10816.0,16839.0,5364.0
2,01.03.2003,248452.0,101349.0,24053.0,1817.0,809.0,10.0,2864.0,4851.0,560.0,79420.0,4327.0,9437.0,11813.0,20176.0,5938.0
3,01.04.2003,236299.0,91625.0,19754.0,2449.0,892.0,10.0,2919.0,4722.0,668.0,95215.0,5345.0,7824.0,12636.0,16614.0,5230.0
4,01.05.2003,230931.0,89615.0,17519.0,3530.0,796.0,20.0,2713.0,4895.0,688.0,94505.0,6374.0,7122.0,12234.0,14413.0,5112.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,01.09.2019,166208.0,38967.0,64283.0,1858.0,122.0,48.0,555.0,1570.0,306.0,67006.0,1903.0,21557.0,155.0,15100.0,1945.0
201,01.10.2019,199038.0,53319.0,81775.0,2322.0,111.0,52.0,668.0,1846.0,223.0,81053.0,2197.0,27980.0,180.0,20510.0,1744.0
202,01.11.2019,148104.0,31652.0,49623.0,1581.0,149.0,27.0,622.0,1467.0,246.0,57434.0,1344.0,19794.0,132.0,11067.0,1742.0
203,01.12.2019,155512.0,38470.0,60742.0,1526.0,164.0,52.0,534.0,1644.0,134.0,63327.0,1374.0,22588.0,155.0,13451.0,1754.0
204,01.01.2020,159172.0,44134.0,57020.0,1264.0,118.0,62.0,723.0,2075.0,296.0,53977.0,1092.0,22189.0,153.0,15463.0,2104.0

In [8]:
# 2.2вывод первых 5 элементов таблицы
df.head(5)

,Total_crimes,Serious,Huge_damage,Ecological,Terrorism,Extremism,Murder,Harm_to_health,Rape,Theft,Vehicle_theft,Fraud_scam,Hooligan,Drugs,Weapons
month,,,,,,,,,,,,,,,
2003-01-01,214587.0,88203.0,20162.0,1216.0,630.0,13.0,2749.0,5559.0,574.0,81014.0,3549.0,7731.0,10560.0,16006.0,4661.0
2003-02-01,221928.0,88863.0,20889.0,1701.0,678.0,5.0,2444.0,4732.0,515.0,95970.0,3697.0,7607.0,10816.0,16839.0,5364.0
2003-03-01,248452.0,101349.0,24053.0,1817.0,809.0,10.0,2864.0,4851.0,560.0,79420.0,4327.0,9437.0,11813.0,20176.0,5938.0
2003-04-01,236299.0,91625.0,19754.0,2449.0,892.0,10.0,2919.0,4722.0,668.0,95215.0,5345.0,7824.0,12636.0,16614.0,5230.0
2003-05-01,230931.0,89615.0,17519.0,3530.0,796.0,20.0,2713.0,4895.0,688.0,94505.0,6374.0,7122.0,12234.0,14413.0,5112.0

In [9]:
# 2.3 вывод последних 5 элементов таблицы
df.tail(5)

,Total_crimes,Serious,Huge_damage,Ecological,Terrorism,Extremism,Murder,Harm_to_health,Rape,Theft,Vehicle_theft,Fraud_scam,Hooligan,Drugs,Weapons
month,,,,,,,,,,,,,,,
2019-09-01,166208.0,38967.0,64283.0,1858.0,122.0,48.0,555.0,1570.0,306.0,67006.0,1903.0,21557.0,155.0,15100.0,1945.0
2019-10-01,199038.0,53319.0,81775.0,2322.0,111.0,52.0,668.0,1846.0,223.0,81053.0,2197.0,27980.0,180.0,20510.0,1744.0
2019-11-01,148104.0,31652.0,49623.0,1581.0,149.0,27.0,622.0,1467.0,246.0,57434.0,1344.0,19794.0,132.0,11067.0,1742.0
2019-12-01,155512.0,38470.0,60742.0,1526.0,164.0,52.0,534.0,1644.0,134.0,63327.0,1374.0,22588.0,155.0,13451.0,1754.0
2020-01-01,159172.0,44134.0,57020.0,1264.0,118.0,62.0,723.0,2075.0,296.0,53977.0,1092.0,22189.0,153.0,15463.0,2104.0

In [10]:
# 2.4 использовать функцию describe()
df.describe()

,Total_crimes,Serious,Huge_damage,Ecological,Terrorism,Extremism,Murder,Harm_to_health,Rape,Theft,Vehicle_theft,Fraud_scam,Hooligan,Drugs,Weapons
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,221279.019512,59068.487805,38402.039024,2592.463415,197.839024,59.473171,1451.400000,3276.024390,463.580488,92647.560976,4101.414634,15277.834146,1457.648780,17644.356098,2525.019512
std,51720.759692,20501.515982,20755.286960,1028.101551,245.462645,42.070500,687.713793,1013.861819,188.413369,25376.346430,1565.682727,4114.474680,2560.889194,3068.123707,733.169890
min,137657.000000,15755.000000,7424.000000,1216.000000,12.000000,2.000000,534.000000,1467.000000,134.000000,50155.000000,1092.000000,5687.000000,132.000000,7275.000000,1637.000000
25%,180711.000000,42135.000000,21813.000000,1888.000000,57.000000,26.000000,932.000000,2479.000000,322.000000,72533.000000,2928.000000,12481.000000,261.000000,16006.000000,2029.000000
50%,207550.000000,51426.000000,26357.000000,2322.000000,103.000000,52.000000,1200.000000,3256.000000,419.000000,88095.000000,3923.000000,15303.000000,486.000000,17924.000000,2351.000000
75%,254352.000000,78407.000000,59282.000000,3034.000000,184.000000,87.000000,1975.000000,4152.000000,574.000000,107555.000000,5125.000000,18005.000000,1785.000000,19686.000000,2868.000000
max,359098.000000,108299.000000,87941.000000,6822.000000,1198.000000,174.000000,3099.000000,5578.000000,1027.000000,153394.000000,8251.000000,27980.000000,12636.000000,25187.000000,5938.000000

In [17]:
# 2.5 считывание значения конкретной ячейки (с конкретным индексом из конкретной колонки) всеми известными вам способами
df.iloc[1]['Drugs']

16839.0

In [21]:
df['Drugs'].values[1]

16839.0

In [24]:
# 2.6 фильтрация строк по диапазону индекса
df[0:10]

,Total_crimes,Serious,Huge_damage,Ecological,Terrorism,Extremism,Murder,Harm_to_health,Rape,Theft,Vehicle_theft,Fraud_scam,Hooligan,Drugs,Weapons
month,,,,,,,,,,,,,,,
2003-01-01,214587.0,88203.0,20162.0,1216.0,630.0,13.0,2749.0,5559.0,574.0,81014.0,3549.0,7731.0,10560.0,16006.0,4661.0
2003-02-01,221928.0,88863.0,20889.0,1701.0,678.0,5.0,2444.0,4732.0,515.0,95970.0,3697.0,7607.0,10816.0,16839.0,5364.0
2003-03-01,248452.0,101349.0,24053.0,1817.0,809.0,10.0,2864.0,4851.0,560.0,79420.0,4327.0,9437.0,11813.0,20176.0,5938.0
2003-04-01,236299.0,91625.0,19754.0,2449.0,892.0,10.0,2919.0,4722.0,668.0,95215.0,5345.0,7824.0,12636.0,16614.0,5230.0
2003-05-01,230931.0,89615.0,17519.0,3530.0,796.0,20.0,2713.0,4895.0,688.0,94505.0,6374.0,7122.0,12234.0,14413.0,5112.0
2003-06-01,249710.0,97514.0,19351.0,3121.0,577.0,8.0,2685.0,4408.0,762.0,100154.0,7178.0,10507.0,11825.0,14659.0,5321.0
2003-07-01,225847.0,84698.0,14048.0,2340.0,425.0,13.0,2478.0,4814.0,791.0,100070.0,7282.0,5914.0,11152.0,11146.0,3803.0
2003-08-01,222107.0,84597.0,15578.0,2137.0,442.0,21.0,2472.0,4825.0,730.0,96690.0,7017.0,5687.0,10348.0,12868.0,4075.0
2003-09-01,240131.0,94677.0,18980.0,2542.0,752.0,7.0,2418.0,4598.0,761.0,101031.0,6996.0,7997.0,10566.0,14784.0,4397.0
2003-10-01,245711.0,92437.0,17943.0,1898.0,993.0,32.0,2679.0,5021.0,785.0,108788.0,7652.0,5935.0,11762.0,15052.0,4264.0

In [30]:
# 2.7 фильтрация набора данных по какому-либо условию
df[(df['Rape'] > 700)& (df['Terrorism'] > 1000)]

,Total_crimes,Serious,Huge_damage,Ecological,Terrorism,Extremism,Murder,Harm_to_health,Rape,Theft,Vehicle_theft,Fraud_scam,Hooligan,Drugs,Weapons
month,,,,,,,,,,,,,,,
2004-03-01,261288.0,90832.0,23328.0,2189.0,1157.0,9.0,3007.0,5363.0,702.0,104182.0,4839.0,12672.0,2390.0,20197.0,2953.0
2004-04-01,239677.0,77428.0,21333.0,2634.0,1198.0,9.0,2742.0,4971.0,723.0,100795.0,5460.0,10736.0,2302.0,17924.0,2380.0
2004-10-01,250393.0,78516.0,12349.0,2448.0,1086.0,4.0,2633.0,4895.0,763.0,119447.0,7435.0,9362.0,1914.0,9931.0,2018.0

In [31]:
# 2.8) Удаление строк с пропущенными значениями
df.isnull().sum()

Total_crimes      0
Serious           0
Huge_damage       0
Ecological        0
Terrorism         0
Extremism         0
Murder            0
Harm_to_health    0
Rape              0
Theft             0
Vehicle_theft     0
Fraud_scam        0
Hooligan          0
Drugs             0
Weapons           0
dtype: int64

In [8]:
df.iloc[0:30, 0:30] = np.nan
df

,month,Total_crimes,Serious,Huge_damage,Ecological,Terrorism,Extremism,Murder,Harm_to_health,Rape,Theft,Vehicle_theft,Fraud_scam,Hooligan,Drugs,Weapons
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,01.09.2019,166208.0,38967.0,64283.0,1858.0,122.0,48.0,555.0,1570.0,306.0,67006.0,1903.0,21557.0,155.0,15100.0,1945.0
201,01.10.2019,199038.0,53319.0,81775.0,2322.0,111.0,52.0,668.0,1846.0,223.0,81053.0,2197.0,27980.0,180.0,20510.0,1744.0
202,01.11.2019,148104.0,31652.0,49623.0,1581.0,149.0,27.0,622.0,1467.0,246.0,57434.0,1344.0,19794.0,132.0,11067.0,1742.0
203,01.12.2019,155512.0,38470.0,60742.0,1526.0,164.0,52.0,534.0,1644.0,134.0,63327.0,1374.0,22588.0,155.0,13451.0,1754.0
204,01.01.2020,159172.0,44134.0,57020.0,1264.0,118.0,62.0,723.0,2075.0,296.0,53977.0,1092.0,22189.0,153.0,15463.0,2104.0

In [34]:
df.isnull().sum()

Total_crimes      30
Serious           30
Huge_damage       30
Ecological        30
Terrorism         30
Extremism         30
Murder            30
Harm_to_health    30
Rape              30
Theft             30
Vehicle_theft     30
Fraud_scam        30
Hooligan          30
Drugs             30
Weapons           30
dtype: int64

In [35]:
df = df.dropna(axis=0)
df

,Total_crimes,Serious,Huge_damage,Ecological,Terrorism,Extremism,Murder,Harm_to_health,Rape,Theft,Vehicle_theft,Fraud_scam,Hooligan,Drugs,Weapons
month,,,,,,,,,,,,,,,
2005-07-01,302965.0,87499.0,16579.0,2802.0,255.0,10.0,2414.0,5029.0,884.0,141283.0,6632.0,14325.0,2893.0,14206.0,2107.0
2005-08-01,326263.0,95231.0,18039.0,2688.0,294.0,23.0,2523.0,5246.0,1027.0,152218.0,6908.0,14295.0,2945.0,16292.0,2074.0
2005-09-01,330848.0,98196.0,20602.0,3432.0,397.0,7.0,2384.0,4812.0,910.0,147535.0,6780.0,17304.0,2819.0,16111.0,2348.0
2005-10-01,322364.0,92091.0,16924.0,3170.0,521.0,3.0,2377.0,4910.0,817.0,151516.0,6934.0,15221.0,2836.0,14528.0,1947.0
2005-11-01,310280.0,89826.0,17049.0,2711.0,480.0,16.0,2340.0,4043.0,797.0,144291.0,5581.0,14276.0,2577.0,14125.0,2113.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-01,166208.0,38967.0,64283.0,1858.0,122.0,48.0,555.0,1570.0,306.0,67006.0,1903.0,21557.0,155.0,15100.0,1945.0
2019-10-01,199038.0,53319.0,81775.0,2322.0,111.0,52.0,668.0,1846.0,223.0,81053.0,2197.0,27980.0,180.0,20510.0,1744.0
2019-11-01,148104.0,31652.0,49623.0,1581.0,149.0,27.0,622.0,1467.0,246.0,57434.0,1344.0,19794.0,132.0,11067.0,1742.0
2019-12-01,155512.0,38470.0,60742.0,1526.0,164.0,52.0,534.0,1644.0,134.0,63327.0,1374.0,22588.0,155.0,13451.0,1754.0
2020-01-01,159172.0,44134.0,57020.0,1264.0,118.0,62.0,723.0,2075.0,296.0,53977.0,1092.0,22189.0,153.0,15463.0,2104.0

In [6]:
# 2.9) создание нового поля вычисленного на основе значений других полей:
# 2.9.1) через выражение на базе имеющихся колонок
df1=pd.read_csv("crime.csv")
df1['total theft'] = df1['Theft']+df1['Vehicle_theft']
df1

,month,Total_crimes,Serious,Huge_damage,Ecological,Terrorism,Extremism,Murder,Harm_to_health,Rape,Theft,Vehicle_theft,Fraud_scam,Hooligan,Drugs,Weapons,total theft
0,01.01.2003,214587.0,88203.0,20162.0,1216.0,630.0,13.0,2749.0,5559.0,574.0,81014.0,3549.0,7731.0,10560.0,16006.0,4661.0,84563.0
1,01.02.2003,221928.0,88863.0,20889.0,1701.0,678.0,5.0,2444.0,4732.0,515.0,95970.0,3697.0,7607.0,10816.0,16839.0,5364.0,99667.0
2,01.03.2003,248452.0,101349.0,24053.0,1817.0,809.0,10.0,2864.0,4851.0,560.0,79420.0,4327.0,9437.0,11813.0,20176.0,5938.0,83747.0
3,01.04.2003,236299.0,91625.0,19754.0,2449.0,892.0,10.0,2919.0,4722.0,668.0,95215.0,5345.0,7824.0,12636.0,16614.0,5230.0,100560.0
4,01.05.2003,230931.0,89615.0,17519.0,3530.0,796.0,20.0,2713.0,4895.0,688.0,94505.0,6374.0,7122.0,12234.0,14413.0,5112.0,100879.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,01.09.2019,166208.0,38967.0,64283.0,1858.0,122.0,48.0,555.0,1570.0,306.0,67006.0,1903.0,21557.0,155.0,15100.0,1945.0,68909.0
201,01.10.2019,199038.0,53319.0,81775.0,2322.0,111.0,52.0,668.0,1846.0,223.0,81053.0,2197.0,27980.0,180.0,20510.0,1744.0,83250.0
202,01.11.2019,148104.0,31652.0,49623.0,1581.0,149.0,27.0,622.0,1467.0,246.0,57434.0,1344.0,19794.0,132.0,11067.0,1742.0,58778.0
203,01.12.2019,155512.0,38470.0,60742.0,1526.0,164.0,52.0,534.0,1644.0,134.0,63327.0,1374.0,22588.0,155.0,13451.0,1754.0,64701.0
204,01.01.2020,159172.0,44134.0,57020.0,1264.0,118.0,62.0,723.0,2075.0,296.0,53977.0,1092.0,22189.0,153.0,15463.0,2104.0,55069.0

In [46]:
# 2.9.2) через DataFrame.apply
df1['total theft'] = df1.apply(lambda row: row['Theft']+row['Vehicle_theft'], axis=1)
df1

,month,Total_crimes,Serious,Huge_damage,Ecological,Terrorism,Extremism,Murder,Harm_to_health,Rape,Theft,Vehicle_theft,Fraud_scam,Hooligan,Drugs,Weapons,total theft
0,01.01.2003,214587.0,88203.0,20162.0,1216.0,630.0,13.0,2749.0,5559.0,574.0,81014.0,3549.0,7731.0,10560.0,16006.0,4661.0,84563.0
1,01.02.2003,221928.0,88863.0,20889.0,1701.0,678.0,5.0,2444.0,4732.0,515.0,95970.0,3697.0,7607.0,10816.0,16839.0,5364.0,99667.0
2,01.03.2003,248452.0,101349.0,24053.0,1817.0,809.0,10.0,2864.0,4851.0,560.0,79420.0,4327.0,9437.0,11813.0,20176.0,5938.0,83747.0
3,01.04.2003,236299.0,91625.0,19754.0,2449.0,892.0,10.0,2919.0,4722.0,668.0,95215.0,5345.0,7824.0,12636.0,16614.0,5230.0,100560.0
4,01.05.2003,230931.0,89615.0,17519.0,3530.0,796.0,20.0,2713.0,4895.0,688.0,94505.0,6374.0,7122.0,12234.0,14413.0,5112.0,100879.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,01.09.2019,166208.0,38967.0,64283.0,1858.0,122.0,48.0,555.0,1570.0,306.0,67006.0,1903.0,21557.0,155.0,15100.0,1945.0,68909.0
201,01.10.2019,199038.0,53319.0,81775.0,2322.0,111.0,52.0,668.0,1846.0,223.0,81053.0,2197.0,27980.0,180.0,20510.0,1744.0,83250.0
202,01.11.2019,148104.0,31652.0,49623.0,1581.0,149.0,27.0,622.0,1467.0,246.0,57434.0,1344.0,19794.0,132.0,11067.0,1742.0,58778.0
203,01.12.2019,155512.0,38470.0,60742.0,1526.0,164.0,52.0,534.0,1644.0,134.0,63327.0,1374.0,22588.0,155.0,13451.0,1754.0,64701.0
204,01.01.2020,159172.0,44134.0,57020.0,1264.0,118.0,62.0,723.0,2075.0,296.0,53977.0,1092.0,22189.0,153.0,15463.0,2104.0,55069.0

In [56]:
# 2.9.3) через Series.apply
df1=pd.read_csv("crime.csv")
df1['Total theft'] = (df1['Theft']+df1['Vehicle_theft']).apply(lambda x: max(x, 0))
df1

,month,Total_crimes,Serious,Huge_damage,Ecological,Terrorism,Extremism,Murder,Harm_to_health,Rape,Theft,Vehicle_theft,Fraud_scam,Hooligan,Drugs,Weapons,Total theft
0,01.01.2003,214587.0,88203.0,20162.0,1216.0,630.0,13.0,2749.0,5559.0,574.0,81014.0,3549.0,7731.0,10560.0,16006.0,4661.0,84563.0
1,01.02.2003,221928.0,88863.0,20889.0,1701.0,678.0,5.0,2444.0,4732.0,515.0,95970.0,3697.0,7607.0,10816.0,16839.0,5364.0,99667.0
2,01.03.2003,248452.0,101349.0,24053.0,1817.0,809.0,10.0,2864.0,4851.0,560.0,79420.0,4327.0,9437.0,11813.0,20176.0,5938.0,83747.0
3,01.04.2003,236299.0,91625.0,19754.0,2449.0,892.0,10.0,2919.0,4722.0,668.0,95215.0,5345.0,7824.0,12636.0,16614.0,5230.0,100560.0
4,01.05.2003,230931.0,89615.0,17519.0,3530.0,796.0,20.0,2713.0,4895.0,688.0,94505.0,6374.0,7122.0,12234.0,14413.0,5112.0,100879.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,01.09.2019,166208.0,38967.0,64283.0,1858.0,122.0,48.0,555.0,1570.0,306.0,67006.0,1903.0,21557.0,155.0,15100.0,1945.0,68909.0
201,01.10.2019,199038.0,53319.0,81775.0,2322.0,111.0,52.0,668.0,1846.0,223.0,81053.0,2197.0,27980.0,180.0,20510.0,1744.0,83250.0
202,01.11.2019,148104.0,31652.0,49623.0,1581.0,149.0,27.0,622.0,1467.0,246.0,57434.0,1344.0,19794.0,132.0,11067.0,1742.0,58778.0
203,01.12.2019,155512.0,38470.0,60742.0,1526.0,164.0,52.0,534.0,1644.0,134.0,63327.0,1374.0,22588.0,155.0,13451.0,1754.0,64701.0
204,01.01.2020,159172.0,44134.0,57020.0,1264.0,118.0,62.0,723.0,2075.0,296.0,53977.0,1092.0,22189.0,153.0,15463.0,2104.0,55069.0

In [59]:
# 2.10) сортировка по какому-либо из полей
# 2.11) вычислить несколько статистик по колонкам.
mean_age = df1['Total_crimes'].mean()
min_age = df1['Total_crimes'].min()
max_age = df1['Total_crimes'].max()
print("Среднее значение: ", mean_age)
print("Минимальное значение: ", min_age)
print("Максимальное значение: ", max_age)

Среднее значение:  221279.0195121951
Минимальное значение:  137657.0
Максимальное значение:  359098.0

In [60]:
# 2.12) .value_counts()
df1['Rape'].value_counts()

515.0    3
312.0    3
296.0    3
503.0    2
343.0    2
        ..
638.0    1
675.0    1
542.0    1
497.0    1
134.0    1
Name: Rape, Length: 176, dtype: int64

In [61]:
# 2.13) Вывод уникальных значений колонки через .unique()
df1['Drugs'].unique()

array([16006., 16839., 20176., 16614., 14413., 14659., 11146., 12868.,
       14784., 15052., 13883., 15248., 16477., 18885., 20197., 17924.,
        7275.,  8190.,  8357., 10707., 11358.,  9931., 10662., 10133.,
       10135., 13223., 16612., 13667., 14803., 17116., 14206., 16292.,
       16111., 14528., 14125., 14423., 14091., 16427., 20646., 18178.,
       18220., 19412., 16962., 19163., 19065., 17356., 16255., 16244.,
       17799., 19495., 22928., 19606., 20431., 21339., 18234., 20770.,
       20120., 18635., 16705., 15156., 18745., 20779., 22519., 20225.,
       19354., 20567., 18962., 19359., 19686., 18539., 16858., 17020.,
       20242., 21636., 24340., 20637., 18892., 20995., 19588., 21159.,
       18158., 16621., 16079., 19164., 19840., 22669., 19344., 17565.,
       19683., 17616., 18515., 17131., 16762., 15210., 17743., 18841.,
       21153., 18379., 17767., 16363., 18751., 18409., 18205., 15784.,
       15304., 18669., 20275., 21119., 18417., 18290., 18207., 17032.,
       19035., 18006., 18853., 16081., 14990., 19212., 19687., 20513.,
       18996., 18001., 18403., 19218., 19803., 20480., 22545., 17811.,
       16793., 20414., 20540., 22127., 21017., 19896., 20238., 22786.,
       23390., 22868., 25187., 17661., 18606., 20989., 21817., 23676.,
       20624., 18933., 19746., 19416., 19450., 19561., 21124., 15585.,
       16018., 18026., 20044., 21616., 16727., 13333., 13647., 14997.,
       17671., 17428., 19414., 13771., 14491., 15922., 20866., 17455.,
       17049., 17349., 17236., 17917., 17772., 21378., 14871., 13904.,
       16920., 17229., 19150., 16332., 15703., 16442., 15556., 17383.,
       16537., 21875., 12942., 14237., 15728., 17195., 18653., 16729.,
       14782., 16942., 14840., 15200., 15100., 20510., 11067., 13451.,
       15463.])

In [7]:
# 2.14) Удалите текущий индекс и создайте новый индекс на базе новой колонки, которая для этого лучше всего подходит
df1.set_index('month', inplace=True)
df1

,Total_crimes,Serious,Huge_damage,Ecological,Terrorism,Extremism,Murder,Harm_to_health,Rape,Theft,Vehicle_theft,Fraud_scam,Hooligan,Drugs,Weapons,total theft
month,,,,,,,,,,,,,,,,
01.01.2003,214587.0,88203.0,20162.0,1216.0,630.0,13.0,2749.0,5559.0,574.0,81014.0,3549.0,7731.0,10560.0,16006.0,4661.0,84563.0
01.02.2003,221928.0,88863.0,20889.0,1701.0,678.0,5.0,2444.0,4732.0,515.0,95970.0,3697.0,7607.0,10816.0,16839.0,5364.0,99667.0
01.03.2003,248452.0,101349.0,24053.0,1817.0,809.0,10.0,2864.0,4851.0,560.0,79420.0,4327.0,9437.0,11813.0,20176.0,5938.0,83747.0
01.04.2003,236299.0,91625.0,19754.0,2449.0,892.0,10.0,2919.0,4722.0,668.0,95215.0,5345.0,7824.0,12636.0,16614.0,5230.0,100560.0
01.05.2003,230931.0,89615.0,17519.0,3530.0,796.0,20.0,2713.0,4895.0,688.0,94505.0,6374.0,7122.0,12234.0,14413.0,5112.0,100879.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
01.09.2019,166208.0,38967.0,64283.0,1858.0,122.0,48.0,555.0,1570.0,306.0,67006.0,1903.0,21557.0,155.0,15100.0,1945.0,68909.0
01.10.2019,199038.0,53319.0,81775.0,2322.0,111.0,52.0,668.0,1846.0,223.0,81053.0,2197.0,27980.0,180.0,20510.0,1744.0,83250.0
01.11.2019,148104.0,31652.0,49623.0,1581.0,149.0,27.0,622.0,1467.0,246.0,57434.0,1344.0,19794.0,132.0,11067.0,1742.0,58778.0
01.12.2019,155512.0,38470.0,60742.0,1526.0,164.0,52.0,534.0,1644.0,134.0,63327.0,1374.0,22588.0,155.0,13451.0,1754.0,64701.0
01.01.2020,159172.0,44134.0,57020.0,1264.0,118.0,62.0,723.0,2075.0,296.0,53977.0,1092.0,22189.0,153.0,15463.0,2104.0,55069.0